html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

li {
  font-size: 20px;
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
}

#content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#headerDiv {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  background-color: grey;
}

#headerDiv > h1 {
  margin-left: 2rem;
}

#bodyDiv {
  display: flex;
  flex-direction: row;
  flex: auto;
}

#sidebar {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  background-color: lightgray;
}

#sidebar > div > div > h2 {
  padding-left: 2rem;
}

#sidebar > div > div > ol > li {
  margin: 0 0 1rem 1rem;
}

#sidebarHome,
#sidebarProjects {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

#taskspace {
  display: flex;
  flex-direction: column;
  width: 80%;
}

#subheader {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 10%;
  padding: 0.7rem;
  margin: 2rem;
  background-color: lightgray;
  border-radius: 4px;
}

#subheader > h2 {
  margin-left: 2rem;
}

#main {
  display: flex;
  flex-direction: column;
  height: 100%;
}
