html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

li {
  font-size: 20px;
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 18px;
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
}

#content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#headerDiv {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  background-color: grey;
}

#headerDiv > h1 {
  margin-left: 2rem;
}

#bodyDiv {
  display: flex;
  flex-direction: row;
  flex: auto;
}

#sidebar {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
  background-color: lightgray;
}

#sidebar > div > div > h2 {
  padding-left: 2rem;
}

#sidebar > div > div > ol > li {
  margin: 0 0 1rem 0.5rem;
}

#sidebarHome,
#sidebarProjects {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

#taskspace {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 2rem;
}

#taskDesc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 2.7rem 0 2.7rem;
}

#projectDesc {
  font-size: 24px;
}

/* #taskspace > div > p {
  margin-left: 2.7rem;
} */

#subheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10%;
  padding: 0.7rem 2.7rem 0.7rem 2.7rem;
  background-color: lightgray;
  border-radius: 4px;
}

#main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#taskForm {
  display: flex;
  flex-direction: column;
  padding: 0.7rem;
}

input[type="text"] {
  width: 100%;
}

input[type="checkbox"] {
  margin: 0 3em 0 5em;
}

#dateInput {
  width: 100%;
}

#descriptionDiv {
  display: flex;
  flex-direction: column;
}

#taskForm > div {
  margin: 0 2rem 0 2rem;
}

#titlePriorityDiv {
  display: flex;
  flex-direction: column;
}

#titlePriorityHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#titlePriorityInput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1 0 auto;
  width: 100%;
}

button {
  padding: 8px;
  width: 100px;
  margin: 20px;
}

ol > div {
  display: flex;
  flex-direction: column;
}

ol > div > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

ol > div > div > button {
  width: 100px;
  height: 25px;
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
